node_modules
npm-debug.log
.git
.gitignore
.env.local
.env.*.local
.DS_Store
.next
out
build
dist
.expo
.expo-shared
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build
coverage
.nyc_output
*.log
.idea
.vscode
*.swp
*.swo
.cache
.npm
.eslintcache
